<!DOCTYPE html>
<html>
    <head>
        <title>Proyecto Inicial</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../css/estilos.css">
    </head>

<body>
<div class="header">
    <div class="topnav">
            <a href="index.html" style="margin-left: 25%;"><strong>Inicio</a>
            <a href="inscripcions.php">Inscripciones</a>
            <a href="#">Noticias</a>
            <a href="#">Galeria</strong></a>
                <div class="idioma">
                    <select class="selectpicker" data-width="fit">
                        <option>Idioma</option>
                        <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                        <option data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Español</option>
                        <input type="submit" value="Enviar">
                </div>
    </div>
    <h1>CURSES 20/21</h1>        
</div>

<div class="contador">
<p></p>
</div>

<div class="row">
  <div class="column">
    <div class="inici">
        <img src="../img/banner3.jpg">
    </div>
    <h2>Bienvenidos</h2>
    <p>En esta pagina, encontraremos noticias sobre las distintas carreras que se estan llevando a cabo actualmente, asi como tambien sobre las distintas videoconsolas actuales. Dentro del apartado de "Plataformas", encontraremos una seccion de todas las consolas de actual generacion, junto con una lista y descripcion de sus videojuegos mas populares hasta la fecha.</p>
</div>

    <div class="clasificaciones">
    <h2>CLASIFICACIONES</h2>
    </div>
<div class="column">
    <h3>NOTICIAS<h3>
    <div class="noticias">
        <img src="../img/noticias1.jpg">
    </div>
    <div class="texto1">Noticia1</div>
    <div class="noticias">
        <img src="../img/noticias2.jpg">
    </div>
    <div class="texto2">Noticia2</div>
    <div class="noticias">
        <img src="../img/noticias3.jpg">
    <div class="texto3">Noticia3</div>
    </div>
</div>
</div>
<footer>
    <h3><strong>Contacte</strong></h3>
    <p>11 de octubre del 2020</p>
    <p>Jesuites Bellvitge Joan XXIII</p>
    <p>Hecho por: Víctor Martínez García</p>
</footer>
</body>
</html>
